<%= form_with(model: [@board, @list], local: true, class: "ui form") do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, required: true, placeholder: "List Name" %>
  </div>
  <%= f.submit nil, class: "ui blue button" %>
<% end %>