<%= form_with(model: @board, local: true, class: "ui form") do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, required: true, placeholder: "Board Name" %>
  </div>
  <%= f.submit nil, class: "ui blue button" %>
<% end %>