<div class="ui two column grid container">
  <div class="column">
    <br />
      <div class="middle aligned content">
        <h1 class="header"><%= @board.name %></h1>
      </div>
  </div>
  <div class="column">
    <br />
    <%= link_to "New List", new_board_list_path(@board), class: "ui blue button" %>
  </div>
</div>    
<hr />

<% @board.lists.each do |list| %>
  <table class="ui striped table">  
    <thead class="center aligned">
      <tr>
        <th colspan="1"><h1><%= link_to list.name, [@board,list], class: "item" %></h1></th>
      </tr>
    </thead>
    <tbody>
      <% list.tasks.each do |task| %>
        <tr class="center aligned">
          <td><%= task.title %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>